* {
  margin: 0;
  padding: 0;
}

.Two{
  display: flex;
  cursor: default;
  color: #202020;
  text-transform: lowercase;
  letter-spacing: -0.015em;
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding-right: 0px !important;
}

.braidsIMG {
  max-width: 50%;
  max-height: 50%;
}

.braidsIMG img {

  width: 100%;
  height: auto;
}

.textContainerBraids{
  cursor: default;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 50%;

  letter-spacing: 0.01em;
  color: #202020;
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  border-top: 1px solid rgba(228,227,226,0.5);

  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
}

.textBraids{
  cursor: default;
  letter-spacing: 0.01em;
  color: #202020;

  outline: none;
  box-shadow: none;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 0 100px;

  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
}

.paddingText{
  cursor: default;
  color: #202020;

  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Space Mono', monospace;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: -0.015em;
  font-size: 34px;
  line-height: 41px;
  position: relative;
  margin-bottom: 30px;
  z-index: 5;

  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
}

.one{
  cursor: default;

  text-transform: lowercase;
  letter-spacing: -0.015em;
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: #555555;
  font-size: 65%;
  line-height: 10px;

  margin-bottom: 10px;

  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.two{
  cursor: default;
  color: #202020;

  text-transform: lowercase;
  letter-spacing: -0.015em;
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding-right: 1em;
  background-color: #fff;

  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.three{
  cursor: default;

  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;

  font: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 0.01em;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
  color: #757575;

  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
}

.buttonContainer{
  cursor: default;
  letter-spacing: 0.01em;
  color: #202020;
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;

  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
}

.stepsButton{
  cursor: pointer;
  
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: -0.015em;
  font-size: 16px;
  line-height: 24px;
  min-height: 48px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: all 300ms;
  min-width: 215px;
  color: #202020;
  background-color: #fff;
  border: 1px solid #e4e3e2;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
}

.textButton{
  text-transform: lowercase;
  letter-spacing: -0.015em;
  text-align: center;
  color: #202020;
  outline: none;
  box-shadow: none;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3em;
  padding: 0.3em 0 0.3em;

  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
}






@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../static/space-mono-regular.woff2') format('woff2'),
    url('../static/space-mono-regular.woff') format('woff'),
    url('../static/space-mono-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('//cdn.shopify.com/s/files/1/0581/3849/3094/t/67/assets/space-mono-bold.woff2?v=15747563320650778663') format('woff2'),
    url('//cdn.shopify.com/s/files/1/0581/3849/3094/t/67/assets/space-mono-bold.woff?v=478857183106484192') format('woff'),
    url('//cdn.shopify.com/s/files/1/0581/3849/3094/t/67/assets/space-mono-bold.ttf?v=2028313046384385381') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('//cdn.shopify.com/s/files/1/0581/3849/3094/t/67/assets/roboto-regular.woff2?v=15289017066379288601') format('woff2'),
    url('//cdn.shopify.com/s/files/1/0581/3849/3094/t/67/assets/roboto-regular.woff?v=17028841955973216498') format('woff'),
    url('//cdn.shopify.com/s/files/1/0581/3849/3094/t/67/assets/roboto-regular.ttf?v=13566850237589757060') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('//cdn.shopify.com/s/files/1/0581/3849/3094/t/67/assets/roboto-bold.woff2?v=7898231667737170342') format('woff2'),
    url('//cdn.shopify.com/s/files/1/0581/3849/3094/t/67/assets/roboto-bold.woff?v=10694416134688216251') format('woff'),
    url('//cdn.shopify.com/s/files/1/0581/3849/3094/t/67/assets/roboto-bold.ttf?v=18279526634965034276') format('truetype');
}